<!DOCTYPE html>
<html>
    <head>
    <title>Produtos</title>
    <meta charset="utf-8" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/photon.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Electron Javascript -->
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body>
          <div class="window">
      <header class="toolbar toolbar-header">
        <h1 class="title">Sistema de Vendas</h1>
      </header>
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sm sidebar">
            <nav class="nav-group">
              <a href="index.html" class="nav-group-item">
                <span class="icon icon-home"></span>
                Clientes
              </a>
              <a href="produtos.html" class="nav-group-item active">
                <span class="icon icon-download"></span>
                Produtos
              </a>
              <a href="vendas.html" class="nav-group-item">
                <span class="icon icon-folder"></span>
                Vendas
              </a>
            </nav>
          </div>
          <div class="pane">
            <button type="button" @click="createProduct()" class="btn btn-positive">Novo produto</button>
            
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th>Nome:</th>
                  <th>Preço:</th>
                  <th>Quantidade:</th>
                  <th>Ação:</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="produto in produtos">
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td><button type="button" class="btn btn-primary" @click="editProduct(produto)">Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
       <footer class="toolbar toolbar-footer">
          <h1 class="title">Bedroom Tech Copyright 2016</h1>
      </footer>
    </div>

    <div id="modal" v-if="openModal">
      <div class="wrap">
        <form action="" class="pane-body" id="cadastro-produto">
              <h3 v-if="mode == 'cadastro'">Cadastro de Produto</h3>
              <h3 v-if="mode == 'edicao'">Editar Produto</h3>
              <div class="form-group">
                <input type="text" class="form-control" v-model="produto.nome" placeholder="Nome" id="nome" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" v-model="produto.preco" placeholder="Preço" id="preco" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" v-model="produto.quantidade" placeholder="Quantidade" id="quantidade" />
              </div>
              <button type="button" class="btn btn-positive" @click="saveOrUpdateProduct(produto)" id="salvar">Salvar</button>
              <button type="button" class="btn btn-negative" @click="openModal = false" id="fechar">Fechar</button>
            </form>
      </div>
    </div>
      
  </body>
  <script type="text/javascript">
      window.Vue = require('vue');

      var read = require('read-file-utf8');
      var loki = require('lokijs');
      var db = new loki('db.json');
      var data = read(__dirname+'/db.json');
      db.loadJSON(data);

      var produtos = db.getCollection('produtos');
            
      new Vue({
        el: 'body',
        data: {
          mode: '',
          produtos: [],
          produto: {
            nome: '',
            preco: 0.00,
            quantidade: 0
          },
          openModal: false
        },
        ready: function(){
          this.produtos = produtos.data;

        },
        methods: {
          editProduct: function(produto){
              this.mode = 'edicao';
              this.openModal = true;
              this.produto = produto;

          },
          createProduct: function(){
            this.mode = 'cadastro';
            this.openModal = true;
            this.produto = {
                            nome: '',
                            preco: 0.00,
                            quantidade: 0
                           }; 
          },
          saveOrUpdateProduct : function(produto){
            this.openModal = false;
            if(produto.$loki){
              produtos.update(produto);

            }else {
              produtos.insert(produto);

            }
            db.save();

          }
        
        }
      });
  </script>
</html>